
*{
  box-sizing: border-box;
}
body{
  color: #222;
  
}
img{
  max-width: 100%;
}
.logo{
  margin-top: 25px;
}
main{
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  margin-top: 20px;
}
header a{
  text-decoration: none;
  color: inherit;

}
.header-h{
  padding: 7px ;
}
.header-h:hover{
  background-color: #1366d6;
  color: #fff;
  
  border-radius: 5px;


  
}

header a.logo{
  font-weight: bold;
  font-size: 1.5em;
}
header nav{
  display: flex;
  gap:15px
}
div.post{
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  gap: 20px;
  margin-bottom: 4px;
 
  padding: 10px;
  border-radius: 7px;
}
div.post div.texts h2{
  margin:0;
  font-size : 1.8rem;
}
div.post p.info{
  margin: 6px 0;
  color: #888;
  font-size: .7rem;
  font-weight: bold;
}
div.post p.info a.author{
  color:black;
}
form.login,form.register{
  max-width: 400px;
  margin: 0 auto;
}
form h1{
  text-align: center;
}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding:5px 7px;
  border-radius: 5px;
  border:2px solid #ddd;
  background-color: #fff;
}

/* CSS */
button{
  appearance: none;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
  letter-spacing: normal;
  line-height: 0.1;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  margin-top: 13px;
}

button:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

button:hover:after {
  opacity: .5;
}

button:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

button:active:after {
  opacity: 1;
}

form.login h1 ,form.register{
  text-align: center;
}
.profile {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  
}

.profile-info {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.profile-info h2 {
  font-size: 20px;
  font-weight: normal;
}
.profile-info h5{
  font-weight: lighter;
  font-size: 20px;
  margin-top: 2px;
}
.profile-info img {
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.published-articles {
  max-width: 1020px;
  max-height: 500px;
 
}

.published-articles h3 {
  font-size: 20px;

}
button.delete{
  background-color: red;
  margin-left: 175%;
  width: 150px;
  margin-top: -2px;
  padding: 10px;
}
.line {
  border: none;
  margin-top: 5px;
  height: 5px;
  background-color: rgba(177, 172, 174, 0.911);
  border-radius: 10px;
}
  .icon-profil {
     /* Example style: change the color to red */
    color: rgb(30, 48, 80);
    height: 100px;/* Example style: change the font size to 24 pixels */
  }
  .icon-post{
    padding-left: 2px;
    padding-right: 2px ;
  }
  .categories{
    color:  rgb(19, 102, 214);
    margin-top: 5px;
    margin-left: 2px;
  }
  .commentsection{
    width: 100%;
    margin-bottom: 20px;
    margin-top: -2px;
    
  }
  .commentsection h2{
    margin-left: 10px;
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
  }
  .commentsection span{
    margin-left: 15px;
   
  }
  .icon-comment{
    margin-left: 4px;
    
  }
  .icon-comment:hover{
   background-color: #1366d6;
    border-radius: 50%;
    border:5px solid rgb(19, 102, 214) ;
    color: white;
  }
  .icon-comment{
    height: 15px;
    margin-top: 2px;
  }
  .comments-list{
    margin-left: 15px;
    padding: 10px;
  }
  .post-comment{
    box-shadow:  0px 10px 15px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
  }   
  
  .comment {
    margin-bottom: 10px;
  }
  
  
  
  .comment-content {
    margin-top: 5px;
  }
  
  .comment-separator {
    margin-top: 10px;
    border: 0;
    border-top: 1px solid #ccc;
  }
  .comment-line{
    margin-top: -15px;
    width: 17%;
    height: 5px;
    background-color: rgb(19, 102, 214);
    border-radius: 5px;
    margin-left: 11px;
  }
  .icon-profil-comment{
    color: grey;
  }
  .delete-button{
    width:50px;
    background-color: red;
    margin-top: -50px;
    margin-left: 92%;
    padding: 10px;
  }
  .delete-button:hover{
    background-color: rgb(255, 0, 0);
  }